/* EmployeeProfile.css */

.profile-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  }
  
  .profile-image-box {
    width: 150px;
    height: 150px;
    border: 2px solid #ccc;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .profile-image {
    width: 100%;
    height: auto;
  }
  
  .profile-details {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
  }
  
  .profile-details h3 {
    margin: 0.5rem 0;
  }
  
  .logout-button {
    margin-top: 1.5rem;
  }
  